body{
    margin:0;
    background: radial-gradient(circle at top,#0a0f2e,#000814);
    color:white;
    font-family:'Orbitron', sans-serif;
    overflow-x:hidden;
}

body::before{
    content:"";
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:
        radial-gradient(2px 2px at 20% 30%, white, transparent),
        radial-gradient(1px 1px at 70% 80%, white, transparent),
        radial-gradient(2px 2px at 40% 60%, #aee8ff, transparent),
        radial-gradient(1px 1px at 90% 10%, white, transparent),
        radial-gradient(2px 2px at 10% 90%, #8fd3ff, transparent),
        radial-gradient(1px 1px at 60% 20%, white, transparent);
    background-repeat:repeat;
    background-size:600px 600px;
    opacity:0.7;
    animation: starsMove 120s linear infinite;
    z-index:-2;
}

body::after{
    content:"";
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:
        radial-gradient(2px 2px at 30% 40%, white, transparent),
        radial-gradient(2px 2px at 80% 50%, #aee8ff, transparent),
        radial-gradient(1px 1px at 50% 10%, white, transparent),
        radial-gradient(2px 2px at 15% 70%, #8fd3ff, transparent);
    background-repeat:repeat;
    background-size:800px 800px;
    opacity:0.5;
    animation: starsMove 200s linear infinite;
    z-index:-3;
}

@keyframes starsMove{

    from{
        transform:translateY(0);
    }

    to{
        transform:translateY(-2000px);
    }

}

.orbit-container{
    position:relative;
    width:800px;
    height:800px;
    margin:60px auto;
    border-radius:50%;
    border:1px dashed rgba(255,255,255,0.1);
}

.orbit-container::before{
    content:"";
    position:absolute;
    inset:0;
    border-radius:50%;
    box-shadow:
    0 0 60px rgba(100,150,255,0.2);
}

.orbit-item{
    position:absolute;
    top:50%;
    left:50%;
    transform-origin:0 0;
}

.starter-page{
    text-align:center;
    padding-top:40px;
}

.title{
    font-size:3rem;
    margin-bottom:20px;
    text-shadow:0 0 20px #4fc3f7;
}

.player-name{
    padding:10px;
    font-size:18px;
    border-radius:8px;
    border:none;
    margin-bottom:40px;
}

.starter-grid{
    width:90%;
    margin:auto;

    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap:40px;
}

img{
    border-radius: 20px;
}
.planet-card{
    width:180px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    border-radius: 100px;
    padding:15px;
    text-align:center;
    cursor:pointer;
    transition: all .3s ease;
    animation: float 6s ease-in-out infinite;
    position:relative;
    font-family:'Orbitron', monospace;
    color:#6ef7ff;
    text-shadow:
        0 0 4px #00eaff,
        0 0 8px #00eaff;
    transition:all .25s ease;
}

@keyframes float{
    0%{transform: translateY(0px)}
    50%{transform: translateY(-10px)}
    100%{transform: translateY(0px)}
}

.planet-preview{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.planet-preview img{
    width:120px;
    height:120px;
    transition: transform 0.3s;
}

.planet-card:hover img{
    transform: scale(1.2) rotate(5deg);
}

.planet-info{
    position:absolute;
    top:100%;
    left:50%;
    transform:translateX(-50%) translateY(10px);
    width:220px;
    padding:12px;
    border-radius:12px;
    background: rgba(0,0,40,0.9);
    border:1px solid rgba(120,180,255,0.6);
    box-shadow:
        inset 0 0 15px rgba(0,200,255,0.35),
        0 0 10px rgba(0,200,255,0.25);
    font-family:'Orbitron', monospace;
    color:#6ef7ff;
    text-shadow:
        0 0 4px #00eaff,
        0 0 8px #00eaff;
    opacity:0;
    pointer-events:none;
    transition:all .25s ease;
}

.planet-info p{
    font-family:'Orbitron', monospace;
    font-size:14px;
    line-height:1.4;
    color:#cfd8ff;
    margin:4px 0;
}

.planet-card:hover .planet-info{
    opacity:1;
    transform:translateX(-50%) translateY(0);
}

.planet-card:hover{
    transform: scale(1.05);
    box-shadow:
    0 0 20px #4fc3f7,
    0 0 40px #4fc3f7,
    0 0 60px #4fc3f7;
}

.stats{
    margin-top:10px;
    padding:12px;
    border-radius:12px;
    background: rgba(0,0,40,0.8);
    border:1px solid rgba(120,180,255,0.6);
    box-shadow: inset 0 0 15px rgba(0,200,255,0.35),
    0 0 10px rgba(0,200,255,0.25);
    font-family:'Orbitron', monospace;
    color:#6ef7ff;
    text-shadow:
    0 0 4px #00eaff,
    0 0 8px #00eaff;
    letter-spacing:1px;
}